body {
  margin: 0;
  background: hsl(228, 7%, 29%);
  color: #F7DF1E;
}

h1 {
  text-align: center;
}

.headline {
  text-align: center;
  margin-bottom: 2rem;
}


button {
  border: none;
  color: hsl(107, 40%, 57%);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: hsl(228, 7%, 12%);
}

td {
  padding: 0.3rem
}

.main {
  width: 70%;
  margin: auto;
}


.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navlink {
    float: left;
}


.navbar li:first-child {
   padding-left: 50px;
}



.navlink a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #F7DF1E;
}

/* Change the link color to #111 (black) on hover */
.navlink a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}




.define-input {
  width: 400px;
}

.term, #request-term, #twitter-handle {
  text-align: center;
}

.display-term {
  display: inline-block;
}

.delete {
  -moz-box-shadow:inset 0 39px 0 -24px #e67a73;
  -webkit-box-shadow:inset 0 39px 0 -24px #e67a73;
  box-shadow:inset 0 39px 0 -24px #e67a73;
  background-color:#e4685d;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  border: 0;
  font-family:Arial;
  font-size:15px;
  padding:0 15px;
  text-decoration:none;
  text-shadow:0 1px 0 #b23e35;
  margin-left: 30px;
}

.delete:hover {
  background-color:#eb675e;
}


.var {
  color: hsl(50, 74%, 61%);
}

.term {
  color: hsl(196, 64%, 58%);
}

.equals-sign {
  color: hsl(25, 86%, 55%);
}

.definition {
  color: hsl(107, 40%, 57%);
}

.undefined {
  color: hsl(352, 81%, 58%);
}


.jargonFormRequest {
  padding: 0.5em
}


.jargonFormRequest .term {
  display: inline-block;
  width: 15%
}

.jargonFormRequest .equals-sign {
  display: inline-block;
  width: 4%
}

.jargonFormRequest .definition {
  width: 50%;
}

.jargonFormRequest button {
  margin-left: 1rem;
}
